<template>
  <div class="holder">
    <div class="side-panel">
      <router-link to="/">&larr; another image</router-link>

      <hr>

      <button class="btn btn-danger" v-on:click="clearClicked">Clear</button>

      <hr>

      # points: <b>{{ nPoints }}</b> / {{ nPoints % 19 }}

      <hr />

      <div class="btn-group btn-group-toggle">
        <label class="btn btn-secondary" :class="tool == 'brush' ? 'active': ''">
          <input type="radio" v-model="tool" value="brush" checked> Brush
        </label>
        <label class="btn btn-secondary" :class="tool == 'rubber' ? 'active': ''">
          <input type="radio" v-model="tool" value="rubber"> Rubber
        </label>
      </div>

      <hr />

      <button class="btn btn-secondary" v-shortkey="['n']" @shortkey="nextClicked(1)" v-on:click="nextClicked(1)">Next</button>

      <button class="btn btn-secondary" v-shortkey="['m']" @shortkey="nextClicked(5)" v-on:click="nextClicked(5)">Next x5</button>

      <hr />

      <vue-slider
        id="brush-size"
        v-model="brushSize"
        :min="1"
        :interval="1"
        :max="50"
        :tooltip-formatter="brushSizeFormatter"
      />

      <vue-slider
        v-model="brushMaxCorners"
        :min="0"
        :max="1"
        :tooltip-formatter="brushMaxCornersFormatter"
      />

      <hr>

      <a :href="csvUrl" target="_blank" class="btn btn-success">Download CSV</a>
    </div>

    <div id="map" class="map"></div>
  </div>
</template>

<script>
import "ol/ol.css";
import Map from "ol/Map.js";
import View from "ol/View.js";
import { getCenter } from "ol/extent.js";
import ImageLayer from "ol/layer/Image.js";
import Projection from "ol/proj/Projection.js";
import Static from "ol/source/ImageStatic.js";
import Point from "ol/geom/Point";
import VectorLayer from "ol/layer/Vector.js";
import VectorSource from "ol/source/Vector.js";
import Feature from "ol/Feature.js";
import Style from "ol/style/Style.js";
import Fill from "ol/style/Fill.js";
import Stroke from "ol/style/Stroke.js";
import Text from "ol/style/Text.js";
import LineString from "ol/geom/LineString.js";
import api from "../common.js";
import WebGLMap from 'ol/WebGLMap';

export default {
  mounted() {
    let hash = new Date().getTime();
    this.img = new Image();
    this.img.src = `${API_URL}/image?hash=${hash}`;

    this.img.onload = () => {
      if (this.imgLoaded == false) {
        this.loadImage();
        this.imgLoaded = true;
        this.loadPoints();
      }
    };
  },
  methods: {
    clearClicked: function(event) {
      api.get("/clear").then(this.showPoints);
    },

    rubberClicked(event) {
      this.tool = "rubber";
    },

    loadPoints() {
      api.get("/list").then(this.showPoints);
    },

    nextClicked(n=1) {
      console.log(n);
      api.get("/next", {
        params: { n: n }
      }).then(this.showPoints);
    },

    removePoints(x, y) {
      api
        .get("/remove", {
          params: {
            x: x,
            y: y,
            w: this.brushSize,
            h: this.brushSize
          }
        })
        .then(this.showPoints);
    },

    addPoint(x, y) {
      api
        .get("/add", {
          params: {
            x: x,
            y: y,
            w: this.brushSize,
            h: this.brushSize,
            n: this.brushMaxCorners,
            tol: this.brushTolerance
          }
        })
        .then(this.showPoints);
    },

    showPoints(points) {
      let vectorLayer = this.vectorLayer;
      let features = [];
      let prevPoint = null;

      this.nPoints = points.data.length;

      for (let point of points.data) {
        let normPoint = [point[0], this.img.height - point[1]];
        let feature = new Feature({
          geometry: new Point(normPoint)
        });
        features.push(feature);

        if (prevPoint != null) {
          let feature = new Feature({
            geometry: new LineString([prevPoint, normPoint])
          });
          features.push(feature);
        }
        prevPoint = normPoint;
      }
      vectorLayer.setSource(
        new VectorSource({
          features: features
        })
      );
    },

    imageClicked(event) {
      let x = parseInt(event.coordinate[0]);
      let y = this.img.height - parseInt(event.coordinate[1]);

      switch (this.tool) {
        case "brush":
          this.addPoint(x, y);
          break;
        case "rubber":
          this.removePoints(x, y);
          break;
      }
    },

    loadImage() {
      let extent = [0, 0, this.img.width, this.img.height];
      let projection = new Projection({
        code: "xkcd-image",
        units: "pixels",
        extent: extent
      });
      let style = new Style({
        text: new Text()
      });
      this.map = new Map({
        target: "map",
        layers: [
          new ImageLayer({
            source: new Static({
              url: this.img.src,
              projection: "EPSG:3857",
              imageExtent: extent,
              // attributions: '© <a href="https://lukic.io">Darko Lukic</a>',
              // crossOrigin: 'anonymous',
            })
          }),
        ],
        view: new View({
          enableRotation: false,
          projection: projection,
          center: getCenter(extent),
          resolution: 4,
          maxZoom: 8
        })
      });
      this.vectorLayer = new VectorLayer({
        //  style: (feature) => { return [ style.getText().setText(feature.get('label')) ] },
      });
      this.map.addLayer(this.vectorLayer);

      this.map.on("click", this.imageClicked);
    }
  },
  data: function() {
    return {
      csvUrl: `${API_URL}/csv`,

      img: null,
      imgLoaded: false,
      map: null,
      vectorLayer: null,
      tool: "brush",

      brushSize: 16,
      brushMaxCorners: 1,
      brushTolerance: 0.5,

      brushSizeFormatter: "Brush size {value}px",
      brushMaxCornersFormatter: "Max corners {value}",
      brushToleranceFormatter: "Brush tolerance {value}",

      nPoints: 0,
    };
  }
};
</script>

<style>
.map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.side-panel {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 8px;
}

.holder {
  width: 100%;
  height: 100%;
  background-color: black;
}
</style>