<template>
    <div class="col-md-8 col-sm-8 offset-md-2">

        <h1>Select your dataset</h1>

        <hr />

        <vue-dropzone 
            id="dropzone-upload"
            v-on:vdropzone-success="successEvent"
            :options="dropzoneOptions">
        </vue-dropzone>

        <hr />

        <div>
            <p>or use existing images:</p>
            <router-link to="/corners">
                <img :src="imageUrl" style="width: 200px" />
            </router-link>
        </div>
    </div>
</template>

<script>
    import vue2Dropzone from 'vue2-dropzone'
    import 'vue2-dropzone/dist/vue2Dropzone.min.css'

    export default {
        mounted() {
            let hash = new Date().getTime();
            this.imageUrl = `${API_URL}/image?hash=${hash}`;
        },
        components: {
            vueDropzone: vue2Dropzone
        },
        methods: {
            successEvent: function(file, response) {
                this.$router.push('corners');
            },
        },
        data: function () {
            return {
                dropzoneOptions: {
                    url: `${API_URL}/upload`,
                    thumbnailWidth: 300,
                    maxFilesize: 10,
                    withCredentials: true,
                },
                imageUrl: '',
            }
        }
    }
</script>
